# ignore the checkpoint folder
ckpt/
ckpt.zip

# ignore the result folder
result/

# ignore the pycache and log folders
__pycache__/
lightning_logs/

# ignore the large files in the data folder
data/pdb
data/test_3di_tokens.txt

# ignore the legacy files
legacy/

# ignore the debugging files
tmp/
test_pdb/

